{% extends "base.html" %}
{% block content %}

<div>
    <section class="about-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/image/ecommerce.jpg" alt="About Shopping Cart" class="img-fluid rounded"/>
                </div>
                <div class="col-md-6">
                    <h2 class="mb-4">About Online Shop</h2>
                    <p class="lead">Welcome to Online Shop, your number one source for all things [Products]. We're dedicated to providing you the best shopping experience, with a focus on quality, customer service, and uniqueness.</p>
                    <p>Founded in [Year] by [Founder Name], Shopping Cart has come a long way from its beginnings in [Location]. When [Founder Name] first started out, [his/her/their] passion for [Product Category] drove them to start their own business.</p>
                    <p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
                    <p class="font-weight-bold">Sincerely, <br/> The Online Shop Team</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}