{% extends 'base.html' %}
{% block content %}

{% if cart_items %}
<div class="container d-flex flex-wrap justify-content-center align-content-center">
  {% for item in cart_items %}
  <div class="row d-flex flex-wrap rounded shadow m-3" style="width:60vw; background-color: #faf9f6;">
    <div class="col-3 d-flex justify-content-center align-items-center m-auto" style="height: 100%;">
      <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid image" />
    </div>
    <div class="col-sm-12 col-md-5 col-lg-6">
      <h1 class="m-1">{{ item.product.name }}</h1>
      <p class="m-1">Price per item: ${{ item.product.price }}</p>
      <p class="m-1">Total: ${{ item.total_price|floatformat:2 }}</p>
      
      <div class="d-flex flex-wrap  ">
        <!-- Remove button -->
          <a href="" class="btn btn-primary  mt-5 my-1 mx-1 fw-bold" style="width: auto;" >BUY NOW</a>
          <a href="{% url 'remove_from_cart'  item.product.pk %}" class="btn btn-danger  mt-5 my-1  fw-bold" style="width: auto;">Remove</a>
      </div>
    </div>
    <div class="col-sm-8 col-md-5 col-lg-1 d-flex flex-wrap  align-content-center ">
      <!-- Increase Quantity Button -->
      <form method="POST" action="{% url 'quantity' item.product.id 'increase' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success " style="height: 6vh;width: auto;">+</button>
      </form>
      <div class="btn btn-outline-primary" style="height: 6vh;width: auto;">{{ item.quantity }}</div>
      <!-- Decrease Quantity Button -->
      <form method="POST" action="{% url 'quantity' item.product.id 'decrease' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning mt-lg-3 " style="height: 6vh;width: auto;">-</button>
      </form>
      </div>

   </div>
  
  {% endfor %}
</div>
{% else %}
  <h1 class="d-flex justify-content-center  mt-5 ">Your cart is empty.</h1>
{% endif %}

{% endblock %}
