 {% extends "base.html" %}

 

{% block content %}
<div id="carouselExampleInterval" class="carousel slide d-sm-none d-md-block  d-none d-sm-block " data-bs-ride="carousel">
        <div class="carousel-inner" style='height:300px'>
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../static/image/ad.jpg" class="d-block w-100 "  alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../static/image/ad_new.jpg" class="d-block w-100 " alt="...">
          </div>
          <div class="carousel-item">
            <img src="../static/image/ad2.jpg" class="d-block w-100 " alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container ">
      
          <div class="d-flex flex-wrap ">
              
              <!-- First Box (p_phone products) -->
              <div class="col-sm-12 col-md-3 col-lg-3 d-flex flex-wrap justify-content-center shadow-lg p-3 m-1 bg-body-tertiary rounded card_style">
                  {% for product in p_phone %} 
                  <div class="text-center border  border-0 bg-white" style=" font-family: 'Trebuchet MS', sans-serif;">
                      <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-dark">  
                          <img src="{{ product.image.url }}" class="rounded img-fluid image" alt="{{ product.name }}">
                          <div class="product-name">{{ product.name }}</div>
                          <h6 class="text-success fw-bold">Special Offer</h6>
                      </a>
                  </div>  
                  {% endfor %}
              </div>
      
              <!-- Second Box (p_airbud products) -->
              <div class="col-sm-12 col-md-3  col-lg-3 d-flex flex-wrap justify-content-center shadow-lg p-3 m-1 bg-body-tertiary rounded card_style">
                  {% for product in p_airbud %}
                  <div class="text-center border  border-0 bg-white" style="font-family: 'Trebuchet MS', sans-serif;">
                      <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-dark">  
                          <img src="{{ product.image.url }}" class="rounded img-fluid image" alt="{{ product.name }}">
                          <div class="product-name">{{ product.name }}</div>
                          <h6 class="text-success fw-bold">Special Offer</h6>
                      </a>
                  </div>  
                  {% endfor %}
              </div>
      
              <!-- Third Box (p_beauty products) -->
              <div class="col-sm-12 col-md-3  col-lg-3 d-flex flex-wrap justify-content-center shadow-lg p-3 m-1 bg-body-tertiary rounded card_style">
                  {% for product in p_beauty %}
                  <div class="text-center border  border-0 bg-white" style="font-family: 'Trebuchet MS', sans-serif;">
                      <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-dark">  
                          <img src="{{ product.image.url }}" class="rounded img-fluid image" alt="{{ product.name }}">
                          <div class="product-name">{{ product.name }}</div>
                          <h6 class="text-success fw-bold">Under ₹799</h6>
                      </a>
                  </div>  
                  {% endfor %}
              </div>
          </div>
     
      
      
        <!---->
        <div class="row d-flex flex-wrap justify-content-center">
          {% for product in p_puma %} 
        <div class="card m-3" style="max-width: 540px;">
          <a href="{% url 'product_detail' product.id %}" style=" text-decoration: none;color:black;"> 
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ product.image.url }}" class="img-fluid rounded-start h-100" alt="{{ product.name }}">
            </div>
            <div class="col-md-8" style="background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);">
              <div class="card-body">
                <h5 class="card-title text-white">{{ product.name }}</h5>
                <h5 class="card-title text-white">Under ₹999.</h5>
                <img src="../static/image/puma.ico" style="height:15vh"/>
              </div>
            </div>
          </div>
        </a>
        </div>
      
        {% endfor %}
      </div>
        <!---->
        <div class="row d-flex flex-wrap justify-content-center">
          {% for product in p_watch %} 
        <div class="card m-3" style="max-width: 540px;">
          <a href="{% url 'product_detail' product.id %}" style=" text-decoration: none;color:black;"> 
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ product.image.url }}" class="img-fluid rounded-start h-100" alt="{{ product.name }}">
            </div>
            <div class="col-md-8" style="background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);">
              <div class="card-body">
                <h5 class="card-title text-white">{{ product.name }}</h5>
                <h5 class="card-title text-white">New Collection.</h5>
                <i class="bi bi-watch "style="font-size:50px" ></i>
              </div>
            </div>
          </div>
        </a>
        </div>
      
        {% endfor %}
      </div>
      <!---->
      </div>
{% endblock content %} 

</body>
</html>
