{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center  " style="height: 70vh;">
    <div class="row d-flex flex-wrap rounded shadow bg-white" style="height: 60vh; width: 90vw;">
        <div class="col-sm-12 col-md-4 my-auto">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="rounded mx-auto d-block img-fluid image"/>
        </div>
        <div class="col-12 col-md">
            <div>
                <h3 class="card-title fw-bold text-dark p-2">{{ product.name }}</h3>
                <h5 class="card-text text-muted p-2">{{ product.description }}...</h5>
            </div>
            <div>
                <h6 class="card-text fw-semibold p-1">Price: <span class="text-success fw-bold">${{ product.price }}</span></h6>
                {% if user.is_authenticated %}
                <div class="d-flex flex-wrap  ">
                <a href="{% url 'add_to_cart' product.pk %}" class="btn btn-warning  mt-3 mt-5  mx-1 fw-bold" style="width: auto;">ADD TO CART</a>
                <a href="" class="btn btn-primary  mt-3 mt-5 fw-bold" style="width: auto;">BUY NOW</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}